<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col-lg-12'>
      <h2><%= @account %> Dashboard</h2>
    </div>

    <div class='row'>
      <%= render 'components/molecules/dashboard/year_to_date_finances', year: @year %>
      <%= render 'components/molecules/dashboard/tax_helper', year: @year %>
      <%= render 'components/molecules/dashboard/invoices', year: @year %>
    </div>
  </div>
</div>