<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>Edit PAYE Income Record</h4>
          <p class='card-subtitle'>Update the information for the payslip, then click SUBMIT.</p>
        </div>

        <div class='card-body'>
          <%= form_with(model: @paye_income, local: true, url: update_paye_income_path) do |form| %>
            <div class='row'>
              <%= datepicker form: form, attribute: :date_of, value: @paye_income.date_of.strftime('%Y-%m-%d'),label: 'Date', required: true, size: 6 %>
              <%= textfield form: form, attribute: :summary, label: 'Employer', placeholder: 'The business that is paying you', required: true, size: 6 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :balance, label: 'Pay (The full amount before tax)', placeholder: '1250', required: true, size: 6 %>
              <%= textfield form: form, attribute: :vat, label: 'VAT (The value of VAT taken from your Net Pay)', placeholder: '200', required: true, size: 6 %>
            </div>

            <hr>

            <%= form.submit 'Update', class: 'btn form-submit', type: 'submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>