<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'PAYE Income', icon: 'input' %>

    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title'>PAYE Income</h4>
        </div>

        <%= render 'components/molecules/paye_income/list_all', paye_incomes: @paye_incomes %>
      </div>

      <div class='pagination-container'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
