<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>Edit Invoice Details</h4>
          <p class='card-subtitle'>Update the information for the customer, then click NEXT.</p>
        </div>

        <div class='card-body'>
          <%= form_with(model: @invoice, local: true, url: update_invoice_path) do |form| %>
            <div class='row'>
              <%= textfield form: form, attribute: :title, label: 'Title', placeholder: 'i.e. Electrical Engineering...', required: true, size: 6 %>
              <%= textfield form: form, attribute: :category, label: 'Category', placeholder: 'i.e. Contracted Work', required: true, size: 6 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :customer_name, label: 'Customer Name', placeholder: 'John Smith...', required: true, size: 6 %>
              <%= textfield form: form, attribute: :customer_contact_number, label: 'Customer Contact', placeholder: 'Customers email address or phone number...', required: true, size: 6 %>
            </div>

            <div class='row'>
              <%= datepicker form: form, attribute: :issued_on, label: 'Issue Date', required: true, size: 6, value: @invoice.issued_on %>
              <%= datepicker form: form, attribute: :due_by, label: 'Due Date', required: true, size: 6, value: @invoice.due_by %>
            </div>

            <div class='row'>
              <%= textarea form: form, attribute: :note, label: 'Notes', placeholder: 'Type here...', required: true, size: 12, rows: 4 %>
            </div>

            <hr>

            <%= form.submit 'Next', class: 'btn form-submit', type: 'submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
