<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Invoices', icon: 'archive' %>

    <div class='col'>
      <%= form_tag(invoice_path, method: 'get', id: 'invoice_search') do %>
        <%= text_field_tag :search, nil, class: 'form-control form-control-lg table-search-input quay-input', placeholder: 'Search by invoice ID', autocomplete: 'off' %>
      <% end %>

      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title'>Invoices</h4>
        </div>

        <%= render 'components/molecules/invoice/list_all' %>
      </div>

      <div class='pagination-container'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#invoice_search input').keyup(function() {
      $.get($('#invoice_search').attr('action'), $('#invoice_search').serialize(), null, 'script');
      return false;
    });
  });
</script>