<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>Generate Invoice</h4>
            <p class='card-subtitle'>Enter the items for the customer.</p>
        </div>

        <div class='card-body'>
          <div class='row'>
            <div class='col-lg-6 invoice-details'>
              <h5>Details:</h5>
              <hr>
              <p>Title: <%= @invoice.title %></p>
              <p>Category: <%= @invoice.category %></p>
              <p>Customer: <%= @invoice.customer_name %></p>
              <p>Contact: <%= @invoice.customer_contact_number %></p>
              <p>Issue Date: <%= @invoice.issued_on.strftime('%A %d %B %Y') %></p>
              <p>Due Date: <%= @invoice.due_by.strftime('%A %d %B %Y') %></p>
              <p>Cost (Inc. VAT): £<%= @invoice.balance %></p>
              <p>VAT: £<%= @invoice.vat %></p>
              <p>Status: <%= invoice_status(@invoice) %></p>
              <p>Paid Date: <%= @invoice&.paid_on&.strftime('%A %d %B %Y') %></p>

              <hr>

              <p>Raised By: <%= invoice_raised_by(@invoice) %></p>
              <p>Notes:</p>
              <p><%= @invoice.notes || 'N/A'%></p>
            </div>

            <div class='col-lg-6'>
              <%= render 'components/molecules/item/list' %>
            </div>
          </div>

          <hr>

          <%= render 'components/molecules/invoice/buttons', invoice: @invoice %>
        </div>
      </div>
    </div>
  </div>
</div>