<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>Adding Income to <%= @month %></h4>
          <p class='card-subtitle'>Enter the information for the income, then click 'add'.</p>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/income/new' %>
        </div>
      </div>
    </div>
  </div>
</div>