<div class='card-body table-card-body'>
  <div class='table-responsive'>
    <table class='table'>
      <thead class=' text-primary'>
        <th colspan=3>Feature</th>
      </thead>

        <tbody>
          <% features.each do |feature| %>
            <tr>
              <td><%= feature.feature %></td>
              <td><%= feature.code_id %></td>
              <td><%= link_to 'Show', show_feature_path(feature) %></td>
              <td><%= link_to 'Delete', destroy_feature_path(feature), class: 'link-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this? (This action cannot be undone).'} %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <%= link_to 'Add Feature', new_feature_path, class: 'submit-button' %>
</div>
