<div class='col-lg-3 sidebar' id='sidebar'>
  <div class='sidebar-title title-font'>
    <span class='logo-initials'>QB</span>
    <span class='logo-title desktop-nav'><%= selected_account&.name %></span>
  </div>

  <div class='nav-link-container'>
    <%= render 'components/molecules/side_navigation/profile' %>
    <%= render 'components/molecules/side_navigation/user_links' %>
    <%= render 'components/molecules/side_navigation/admin_links' if admin? %>
  </div>
</div>