<div class='row toolbar'>
  <div class='nav-left col-8'>
    <h3 class='page-title-text'><%= page_title %></h3>
    <%= render 'components/atoms/errors/notice' %>
  </div>

  <div class='nav-right col-4'>
    <%= render 'components/molecules/toolbar/notifications' %>
    <%= render 'components/molecules/toolbar/session' %>
  </div>
</div>