<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Notifications', icon: 'notifications' %>

    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title'>Notifications</h4>
          <%= link_to 'Read All', read_all_notifications_path, class: 'white-link' %>
        </div>

        <%= render 'components/molecules/notification/list_all' %>
      </div>

      <div class='pagination-container'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
