<div class='card quay-card'>
  <div class="card-body">
    <%= stat("#{month.month} Summary") %>

    <hr>
    <%= stat_title('Final Balance') %>
    <%= stat('Brought Forward: £0') %>
    <%= stat("Total Income: £ +#{total_income_for(month)}") %>
    <%= stat("Total Expense: £ -#{total_expense_for(month)}") %>
    <%= stat("Month To Date: £ #{month_to_date_balance_for(month)}") %>
    <hr>
    <%= stat_title('VAT Recommendations') %>
    <%= stat("VAT Paid: £ #{vat_already_paid_for(month)}")%>
    <%= stat("Potential Expense: £ #{payable_vat_for(month)}")%>
    <%= stat("Potential Reclaim: £ #{reclaimable_vat_for(month)}")%>
  </div>
</div>

<hr>

<%= link_to 'NEW INCOME', new_income_path(@month), class: 'full-width submit-button button-success' %>
<%= link_to 'NEW EXPENSE', new_expense_path(@month), class: 'full-width submit-button button-danger' %>

<hr>

<%= render 'components/atoms/bookkeeping/monthly_chart', income: month.incomes, expense: month.expenses %>
