<div class='modal-header'>
  <h5 class='modal-title'>Adding Tax Year</h5>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<%= form_with(model: @year, local: true) do |form| %>
  <div class='modal-body'>
    <div class='row'>
      <div class='col-lg'>
        <div class='form-group'>
          <label class='bmd-label-floating'>Select Year:</label>
          <%= form.select :year, year_selector, {}, selected: 'fix', class: 'form-control quay-input' %>
        </div>
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit 'CREATE', class: 'btn form-submit', type: 'submit' %>
  </div>
<% end %>
