<div class='card-body table-card-body'>
  <div class='table-responsive'>
    <table class='table'>
      <thead class=' text-primary'>
        <th>Date</th>
        <th>Summary</th>
        <th class='mobile-td'>Category</th>
        <th>Balance (Inc. VAT)</th>
        <th class='mobile-td'>VAT</th>
        <th class='mobile-td'>Reclaim Tax?</th>
        <th colspan=2 >Manage</th>
      </thead>

        <tbody>
          <% records.each do |record| %>
            <tr>
              <td><%= record.date_of.strftime('%d/%m/%Y') %></td>
              <td><%= record.summary %></td>
              <td class='mobile-td'><%= record.category %></td>
              <%= balance(record) %>
              <td class='mobile-td'>£<%= record.vat %></td>
              <td class='mobile-td'><%= record&.reclaim_tax if expense?(record) %></td>
              <td><%= link_to 'edit', edit_path_for(record) %></td>
              <td><%= link_to 'delete', destroy_path_for(record), class: 'link-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this? (This action cannot be undone).'} %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
