<% @years.each do |year| %>
  <div class='col-lg-3'>
    <div class='card quay-card'>
      <div class='card-body'><h5><%= year.year %></h5></div>
      <%= link_to '', show_year_path(year), class: 'stretched-link'%>
    </div>
  </div>
<% end %>
