<hr>
<%= nav_link('people', 'People', people_path, 'user') %>
<%= nav_link('business', 'Accounts', account_path, 'account') %>
<%= nav_link('settings', 'Features', features_path, 'feature') %>
<hr>
<h6>Version: <%= version %></h6>