<hr>
<div class='profile'>
  <div class='user-section' id='drop-profile'>
    <%= navigation_avatar %>
    <span class='desktop-nav'><%= current_user.full_name %></span>
  </div>

  <div class='profile-dropdown <%= side_navigation_profile_dropdown? %>' id='profile-dropdown'>
    <%= side_navigation_profile_link('EP', 'Edit Profile', profile_path, 'profile') %>
  </div>
</div>
<hr>