  <%= nav_link('dashboard', 'Dashboard', dashboard_path, 'dashboard') %>
  <%= nav_link('archive', 'Invoices', invoice_path, 'invoice') if feature_enabled?('invoice') %>
  <%= nav_link('input', 'PAYE Income', paye_income_path, 'paye') if feature_enabled?('paye_income') %>
  <%= nav_link('table', 'Bookkeeping', bookkeeping_path, 'bookkeeping') %>
  <%= nav_link('notifications', 'Notifications', notification_path, 'notification') %>
  <%= nav_link('phone', 'Support', support_path) %>