<div class='container-fluid'>
  <div class='row page-row'>
    <%= render 'components/molecules/profile/statistics', user: current_user %>

    <div class='col-lg-9'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= current_user.full_name %></h4>
          <p class='card-subtitle'>Update your details</p>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/profile/form', user: current_user %>
        </div>
      </div>
    </div>
  </div>
</div>