<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Support', icon: 'phone' %>

    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title'>Raise a ticket</h4>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/support/form', support: @support %>
          <%= link_to 'Outstanding Tickets', 'https://trello.com/b/5Lh4Tsor/quaybook-support-requests', class: 'submit-button' %>
        </div>
      </div>
    </div>
  </div>
</div>
