
<% if @invoice.items.empty? %>
  <h6 class='subtitle-grey'>Add items to the invoice using the 'ADD ITEM' button below.</h6>
<% else %>
  <div class='table-responsive'>
    <table class='table'>
      <thead class=' text-primary'>
        <th>Item</th>
        <th>Cost</th>
        <th colspan=2></th>
      </thead>

      <tbody>
        <% @invoice.items.each do |item| %>
          <tr>
            <td><%= item.description %></td>
            <td>£<%= item.balance %></td>
            <td><%= link_to 'edit', edit_item_path(item), { remote: true, 'data-toggle': 'modal', 'data-target': '#modal-window' } unless @invoice.approved %></td>
            <td><%= link_to 'Remove', destroy_item_path(item), class: 'link-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this? (This action cannot be undone).'} unless @invoice.approved %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
