<div class='modal-header'>
  <h5 class='modal-title'>Adding new item</h5>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<%= form_with(model: @item, local: true, url: create_item_path) do |form| %>
  <div class='modal-body'>
    <div class='row'>
      <%= textfield form: form, attribute: :description, label: 'Description', placeholder: 'i.e. Clearing shed...', required: true, size: 12 %>
      <%= textfield form: form, attribute: :balance, label: 'Cost', placeholder: '150.00', required: true, size: 12 %>
      <%= form.hidden_field :invoice_id, value: params[:invoice_id] %>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit 'Submit', class: 'btn form-submit', type: 'submit' %>
  </div>
<% end %>
