<div class='card-body table-card-body'>
  <div class='table-responsive'>
    <% unless paye_incomes.empty? %>
      <table class='table'>
        <thead class=' text-primary'>
          <th>Date</th>
          <th>Employer</th>
          <th>Pay</th>
          <th colspan=3>VAT</th>
        </thead>

          <tbody>
            <% paye_incomes.each do |income| %>
              <tr>
                <td><%= income.date_of.strftime('%d/%m/%Y') %></td>
                <td><%= income.summary %></td>
                <td>£<%= income.balance %></td>
                <td>£<%= income.vat %></td>
                <td><%= link_to 'edit', edit_paye_income_path(income) %></td>
                <td><%= link_to 'delete', destroy_paye_income_path(income), class: 'link-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this? (This action cannot be undone).'} %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% else %>
      <h6 class='subtitle-grey'>There are currently no records for PAYE income. Add a record using the 'NEW PAYE INCOME' button below.</h6>
    <% end %>
  </div>

  <%= link_to 'New PAYE Income', new_paye_income_path, class: 'submit-button' %>
</div>