<div class='col-lg-3'>
  <div class='card quay-card'>
    <div class='user-avatar'>
      <%= profile_avatar(@user) %>
    </div>

    <div class='card-body'>
      <% unless @accounts.empty? %>
      <h6 class='subtitle-grey'>Accounts</h6>
        <div id='user-table'>
          <div class='card-body table-card-body'>
            <div class='table-responsive'>
              <table class='table'>
                <tbody>
                  <% @accounts.each do |account| %>
                    <tr>
                      <td align='center'><%= link_to account.name, edit_account_path(account) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% else %>
        <h6 class='subtitle-grey'>No accounts associated with <%= user.full_name %></h6>
      <% end %>
    </div>
  </div>
</div>