<%= form_with(model: user, local: true) do |form| %>
  <div class='row'>
    <%= textfield form: form, attribute: :full_name, label: 'Name', placeholder: 'John Smith...', required: true, size: 4 %>
    <%= selectfield form: form, attribute: :status, label: 'User Level', options: user_status_options, required: true, size: 4 %>
    <%= textfield form: form, attribute: :contact_number, label: 'Contact Number', placeholder: '07123456789', size: 4 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :email, label: 'Email Address', field: 'email', placeholder: 'jsmith@mail.com', required: true, size: 4, disabled: true %>
    <%= textfield form: form, attribute: :street_address, label: 'Street Address', placeholder: '1 The Ball', size: 8 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :city, label: 'City / Town', placeholder: 'Bratton', size: 4 %>
    <%= textfield form: form, attribute: :county, label: 'County', placeholder: 'Wiltshire', size: 4 %>
    <%= textfield form: form, attribute: :postcode, label: 'Postcode', placeholder: 'BR4 5TN', size: 4 %>
  </div>

  <div class='row'>
    <%= checkbox form: form, attribute: :active, label: user_active?(user).html_safe, required: true, size: 12 %>
  </div>

  <hr>

  <div class='row'>
    <%= textarea form: form, attribute: :notes, label: 'Notes', placeholder: 'Type here...', required: true, size: 12, rows: 5 %>
  </div>

  <%= form.submit 'Update', class: 'btn form-submit', type: 'submit' %>
<% end %>