<div id='return-accounts'>
  <div class='row'>
    <% accounts.each do |account| %>
      <div class='col-lg-6'>
        <div class='card quay-card <%= current_selected_card(account)%>'>
          <div class='card-header quay-card-header card-icon-header'>
            <i class='material-icons card-icon'>credit_card</i>
          </div>

          <div class='card-body'>
            <h3><%= account.name %></h3>
            <div class='stats'><%= account_status_for(account) %></div>
          </div>

          <%= link_to '', switch_account_path(account), class: 'stretched-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
