<div class='modal-header'>
  <h5 class='modal-title'>Upload New Profile Picture</h5>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<%= form_with(model: current_user, local: true, url: :update_profile) do |form| %>
  <div class='modal-body'>
    <div class='row'>
      <div class='col'>
        <div class='custom-file'>
          <%= form.file_field :avatar, type: 'file', id: 'inputGroupFile01', class: 'custom-file-input', 'aria-describedby': 'inputGroupFileAddon01' %>
          <label class='custom-file-label' for='inputGroupFile01'>Select your file...</label>
        </div>
      </div>
    </div>

    <hr>

    <%= form.submit 'Submit', class: 'btn form-submit', type: 'submit' %>
  </div>

<% end %>


