<%= form_with(model: user, local: true, url: :update_profile) do |form| %>
  <div class='row'>
    <%= textfield form: form, attribute: :full_name, label: 'Name', placeholder: 'John Smith...', required: true, size: 7 %>
    <%= textfield form: form, attribute: :contact_number, label: 'Contact Number', placeholder: '07123456789', required: true, size: 5 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :street_address, label: 'Street Address', placeholder: '1 The Ball', size: 5 %>
    <%= textfield form: form, attribute: :city, label: 'City / Town', placeholder: 'Bratton', size: 3 %>
    <%= textfield form: form, attribute: :county, label: 'County', placeholder: 'Wiltshire', size: 2 %>
    <%= textfield form: form, attribute: :postcode, label: 'Postcode', placeholder: 'BR4 5TN', size: 2 %>
  </div>

  <%= form.submit 'Update', class: 'btn form-submit', type: 'submit' %>
<% end %>