<div class='col-lg-3'>
  <div class='card quay-card'>
    <div class='user-avatar'>
      <%= profile_avatar(current_user) %>
    </div>

    <div class='card-body'>
      <h6 class='subtitle-grey'>Profile Picture</h6>
      <div class='profile-options'>
        <%= link_to 'Update', edit_profile_picture_path, { remote: true, 'data-toggle': 'modal', 'data-target': '#modal-window', class: 'profile-link' } %></td>
        /
        <%= link_to 'Remove', remove_profile_picture_path, class: 'profile-link danger', method: :delete %>
      </div>

      <hr>

      <h6 class='subtitle-grey'>Last logged in: <%= last_login %></h6>
      <h6 class='subtitle-grey'>Accounts: <%= accounts_count %></h6>
    </div>
  </div>
</div>