<div class='card quay-card'>
  <div class='card-header quay-card-header'>
    <h4 class='card-title'>Features</h4>
  </div>

  <div class='card-body'>
    <div class='card-body table-card-body'>
      <div class='table-responsive'>
        <table class='table'>
          <tbody>
            <% @features.each do |feature| %>
              <tr>
                <td><%= feature.feature %></td>
                <td><%= feature_status_for(@account, feature) %></td>
                <td><%= which_feature_toggle(@account, feature) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>