<%= form_with(model: @account, local: true) do |form| %>
  <div class="row">
    <%= textfield form: form, attribute: :name, label: 'Account Name', placeholder: 'Smith & Sons. LTD', required: true, size: 4 %>
    <%= textfield form: form, attribute: :email, label: 'Email Address', field: 'email', placeholder: 'info@smithson.co.uk', required: true, size: 4 %>
    <%= textfield form: form, attribute: :contact_number, label: 'Contact Number', placeholder: '07123456789', required: true, size: 4 %>
  </div>

  <div class="row">
    <%= textfield form: form, attribute: :street_address, label: 'Street Address', placeholder: '1 The Big Industrial Estate', required: true, size: 12 %>
  </div>

  <div class="row">
    <%= textfield form: form, attribute: :city, label: 'City / Town', placeholder: 'Truro', required: true, size: 4 %>
    <%= textfield form: form, attribute: :county, label: 'County', placeholder: 'Cornwall', required: true, size: 4 %>
    <%= textfield form: form, attribute: :postcode, label: 'Postcode', placeholder: 'TR1 1AB', required: true, size: 4 %>
  </div>

  <div class='row'>
    <%= checkbox form: form, attribute: :active, label: account_active?(account).html_safe, required: true, size: 12 %>
  </div>

  <hr>

  <div class="row">
    <%= textarea form: form, attribute: :notes, label: 'Notes', placeholder: 'Type here...', required: true, size: 12, rows: 5 %>
  </div>

  <%= form.submit 'Update Account', class: 'btn form-submit', type: 'submit' %>
  <%= link_to 'Add users to account', add_users_path, class: 'btn form-submit', type: 'submit' if account.id %>
<% end %>