<div id='account-table'>
  <div class='card-body table-card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead class=' text-primary'>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th class='text-center'>Access</th>
          <th></th>
        </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.id %></td>
                <td><%= account.name %></td>
                <td><%= account.email %></td>
                <td align='center'><%= account_active?(account) %></td>
                <td><%= link_to 'View', show_account_path(account) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>

    <%= link_to 'Create Account', new_account_path, class: 'submit-button' %>
  </div>
</div>