<div class="card quay-card">
  <div class="card-header quay-card-header">
    <h4 class="card-title">Users</h4>
  </div>

  <div class="card-body">
    <% if @account.users.empty? %>
      <h6 class="subtitle-grey">No users associated with <%= @account.name %></h6>
    <% else %>
      <div id="user-table">
        <div class="card-body table-card-body">
          <div class="table-responsive">
            <table class="table">
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.full_name %></td>
                      <td align="center"><%= link_to 'x', remove_user_path(user, @account) %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "Add users to #{@account.name}", add_users_path, class: 'btn form-submit full-width', type: 'submit' if @account.id %>
  </div>
</div>