<div id='user-table'>
  <div class='card-body table-card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead class=' text-primary'>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th class='text-center'>Access</th>
          <th />
        </thead>

        <tbody>
          <% users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td align='center'><%= user_status?(user).html_safe %></td>
              <td align='center'><%= link_to 'add', add_user_path(user, account) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>