<% if alert.present? %>
  <div class='alert alert-danger' role='alert'>
    <%= alert %>
  </div>
<% end %>

<% if notice.present? %>
  <div class='alert alert-success' role='alert'>
    <%= notice %>
  </div>
<% end %>