<div class='container-fluid'>
  <div class='row page-row'>
    <%= render 'components/molecules/user/active_accounts', user: @user %>

    <div class='col-lg-9'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= @user.full_name %></h4>
          <% if current_user.status.eql?('admin') %>
            <p class='card-subtitle'>Updating details for <%= @user.full_name %></p>
          <% else %>
            <p class='card-subtitle'>Viewing details for <%= @user.full_name %></p>
          <% end %>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/user/form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>