<div class='col-lg-3 page-icon'>
  <div class='text-center'>
    <h3 class='page-heading'>
      <i class='material-icons large'><%= icon %></i>
      <hr class='page-heading-hr'>
      <%= heading %>
    </h3>
  </div>
</div>