<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title '>Members not associated with <%= @account.name %></h4>
        </div>

        <div class='card-body'>
          <% if @users.empty? %>
            <h6 class='subtitle-grey'>All users have been assigned to this account.</h6>
          <% else %>
            <%= render 'components/molecules/account/unregistered_users', account: @account, users: @users %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>