<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= @account.name %></h4>
          <% if current_user.status.eql?('admin') %>
            <p class='card-subtitle'>Updating details for <%= @account.name %></p>
          <% else %>
            <p class='card-subtitle'>Viewing details for <%= @account.name %></p>
          <% end %>
        </div>

        <div class='card-body'>
          <%= form_with(model: @account, local: true, url: update_account_path) do |form| %>
            <div class='row'>
              <%= textfield form: form, attribute: :name, label: 'Account Name', placeholder: 'Smith & Sons. LTD', required: true, size: 4 %>
              <%= textfield form: form, attribute: :email, label: 'Email Address', field: 'email', placeholder: 'info@smithson.co.uk', required: true, size: 4 %>
              <%= textfield form: form, attribute: :contact_number, label: 'Contact Number', placeholder: '07123456789', required: true, size: 4 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :street_address, label: 'Street Address', placeholder: '1 The Big Industrial Estate', required: true, size: 12 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :city, label: 'City / Town', placeholder: 'Truro', required: true, size: 4 %>
              <%= textfield form: form, attribute: :county, label: 'County', placeholder: 'Cornwall', required: true, size: 4 %>
              <%= textfield form: form, attribute: :postcode, label: 'Postcode', placeholder: 'TR1 1AB', required: true, size: 4 %>
            </div>

            <div class='row'>
              <%= checkbox form: form, attribute: :active, label: account_active?(@account).html_safe, required: true, size: 12 %>
            </div>

            <hr>

            <div class='row'>
              <%= textarea form: form, attribute: :notes, label: 'Notes', placeholder: 'Type here...', required: true, size: 12, rows: 5 %>
            </div>

            <%= form.submit 'Update Account', class: 'btn form-submit', type: 'submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
