<div class="container-fluid">
  <div class="row page-row">
    <%= column_title heading: 'Accounts', icon: 'business' %>

    <div class="col">
      <%= form_tag(account_path, method: "get", id: 'account_search') do %>
        <%= text_field_tag :search, nil, class: 'form-control form-control-lg table-search-input quay-input', placeholder: 'Search by account name', autocomplete: 'off' %>
      <% end %>

      <div class="card table-card">
        <div class='card-header table-card-header'>
          <h4 class='card-title'>Accounts</h4>
        </div>

        <%= render 'components/molecules/account/list_all' %>
      </div>

      <div class='pagination-container'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#account_search input").keyup(function() {
      $.get($("#account_search").attr("action"), $("#account_search").serialize(), null, "script");
      return false;
    });
  });
</script>