<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>New Account</h4>
            <p class='card-subtitle'>Enter your new accounts information</p>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/account/form', account: @account %>
        </div>
      </div>
    </div>
  </div>
</div>