<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col-lg-12'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= current_user.full_name %></h4>
          <p class='card-subtitle'>Please enter the details for your business.</p>
        </div>

        <div class='card-body'>
          <%= render 'components/molecules/account/form', account: @account %>
        </div>
      </div>
    </div>
  </div>
</div>