<div class='container-fluid'>
  <div class='row page-row'>
    <div class="col-lg-4">
      <%= render 'components/molecules/account/statistics' %>
      <%= render 'components/molecules/account/features' %>
    </div>

    <div class='col-lg-8'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= @account.name %></h4>
          <p class='card-subtitle'>Review account users and features.</p>
        </div>

        <div class='card-body'>
          <%= form_with(model: @account, local: true) do |form| %>
            <div class='row'>
              <%= textfield form: form, attribute: :name, label: 'Account Name', required: true, disabled: true, size: 4 %>
              <%= textfield form: form, attribute: :email, label: 'Email Address', required: true, disabled: true, size: 4 %>
              <%= textfield form: form, attribute: :contact_number, label: 'Contact Number', required: true, disabled: true, size: 4 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :street_address, label: 'Street Address', required: true, disabled: true, size: 12 %>
            </div>

            <div class='row'>
              <%= textfield form: form, attribute: :city, label: 'City / Town', required: true, disabled: true, size: 4 %>
              <%= textfield form: form, attribute: :county, label: 'County', required: true, disabled: true, size: 4 %>
              <%= textfield form: form, attribute: :postcode, label: 'Postcode', required: true, disabled: true, size: 4 %>
            </div>

            <div class='row'>
              <div class='col'>
                <%= account_active?(@account).html_safe %>
              </div>
            </div>
          <% end %>

          <hr>

          <%= link_to 'Edit Details', edit_account_path(@account), class: 'submit-button'%>
          <%= link_to 'Delete Account', destroy_account_path(@account), class: 'submit-button button-danger', data: { confirm: 'Are you sure you want to delete this? (This action cannot be undone).'}%>
        </div>
      </div>
    </div>
  </div>
</div>
