<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Switch Account', icon: 'business' %>

    <div class='col'>
      <%= render 'components/molecules/user/registered_accounts', accounts: @accounts %>
    </div>
  </div>
</div>