<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='card login-card'>
    <div class='login-card-header text-center'>
      <h4 class="card-title">Login</h4>
    </div>

    <div class='login-card-body card-body'>
      <div class="form-group row login-form-row">
        <span><i class="material-icons">email</i></span>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control quay-input', placeholder: 'jsmith@mail.com' %>
        </div>
      </div>

      <div class="form-group row login-form-row">
        <span><i class="material-icons">lock</i></span>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control quay-input', placeholder: '* * * * * * * *' %>
        </div>
      </div>
    </div>

    <div class='login-card-footer card-footer'>
      <%= f.submit 'Lets Go', class: 'btn btn-rose btn-lg login-button' %>
      <hr>
      <%= link_to 'I need an account.', new_registration_path(resource_name), class: 'btn btn-rose btn-lg login-button' %>
    </div>
  </div>
<% end %>
