<div class='login-page'>
  <div class='container login-container'>
    <div class='row login-row'>
      <div class='col-lg-6 ml-auto mr-auto login-col'>
        <%= render 'devise/sessions/form' %>
      </div>
    </div>
  </div>
</div>
