<div class='row'>
  <div class="col-lg-6">
    <%= request_approval_button(invoice) %>
    <%= approval_button(invoice) %>
    <%= decline_button(invoice) %>
    <%= pay_button(invoice) %>
    <%= edit_button(invoice) %>
    <%= delete_button(invoice) %>
  </div>

  <div class="col-lg-6">
    <%= modal_link_to 'Add Item', new_item_path(invoice) unless invoice.approved %>
  </div>
</div>