<div id='invoice-table'>
  <div class='card-body table-card-body'>
    <div class='table-responsive'>
      <% if @invoices.empty? %>
        <h6 class='subtitle-grey'>There are currently no invoices. Add an invoice using the 'NEW INVOICE' button below.</h6>
      <% else %>
        <table class="table">
          <thead class=" text-primary">
            <th>ID</th>
            <th>Customer Name</th>
            <th>Iss. Date</th>
            <th>Due Date</th>
            <th>Total Cost</th>
            <th>VAT</th>
            <th>Status</th>
            <th></th>
          </thead>

            <tbody>
              <% @invoices.each do |invoice| %>
                <tr>
                  <td><%= invoice.id %></td>
                  <td><%= invoice.customer_name %></td>
                  <td><%= invoice.issued_on.strftime('%d/%m/%Y') %></td>
                  <td><%= invoice_due_date(invoice) %></td>
                  <td>£<%= invoice.balance %></td>
                  <td>£<%= invoice.vat %></td>
                  <td><%= invoice_status(invoice) %></td>
                  <td><%= link_to 'View', show_invoice_path(invoice) %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      <% end %>
    </div>

    <%= link_to 'Create Invoice', new_invoice_path, class: 'submit-button' %>
  </div>
</div>