<div class='modal-header'>
  <h5 class='modal-title'>Pay invoice</h5>
  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<%= form_with(model: @invoice, local: true, url: pay_invoice_path) do |form| %>
  <div class='modal-body'>
    <div class='row'>
      <%= datepicker form: form, attribute: :paid_on, label: 'Invoice Paid:', value: Time.now.strftime('%Y-%m-%d'), required: false, size: 12 %>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit 'Confirm', class: 'btn form-submit', type: 'submit' %>
  </div>
<% end %>
