<div class='card-body table-card-body'>
  <div class='table-responsive'>
    <% if @notifications.empty? %>
      <h6 class='subtitle-grey'>You currently have no notifications.</h6>
    <% else %>
      <table class="table">
        <thead class="text-primary">
          <th>Notification</th>
          <th>Category</th>
          <th>Sender</th>
          <th>Read</th>
          <th>Time</th>
        </thead>

          <tbody>
            <% @notifications.each do |notification| %>
              <%= tr(notification) %>
                <td><%= notification.notification %></td>
                <td><%= notification.category %></td>
                <td><%= notification.sender %></td>
                <td><%= link_to 'Read', read_notification_path(notification) unless notification.read %></td>
                <td><%= notification.created_at.strftime('%T - %d/%m/%y') %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
</div>