<% unless unread_notifications.empty? %>
  <button class='toolbar-item' id='drop-notifications'><i class="material-icons">notifications</i></button>

  <div class='dropdown-menu-right notification-dropdown' id='notification-dropdown'>
    <% unread_notifications.each do |notification| %>
      <a class="dropdown-item notification" href="#"><%= notification.notification %></a>
    <% end %>
  </div>
<% end %>