<button class='toolbar-item' id='drop-session'><i class="material-icons">person</i></button>

<div class='dropdown-menu-right' id='session-dropdown'>
  <%= link_to 'Switch Account', switch_path, class: 'dropdown-item'  if current_user.accounts.count > 1 %>
  <%= link_to 'Profile', nil, class: 'dropdown-item' %>
  <div class="dropdown-divider"></div>
  <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item' %>
</div>