<%= form_with(model: @expense, local: true, url: update_expense_path) do |form| %>
  <div class='row'>
    <%= datepicker form: form, attribute: :date_of, label: 'Date', value: @expense.date_of, required: true, size: 12 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :summary, label: 'Summary', placeholder: 'i.e. Car Insurance', required: true, size: 6 %>
    <%= textfield form: form, attribute: :category, label: 'Category', placeholder: 'i.e. Vehicle Expenses', required: true, size: 6 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :balance,  label: 'Cost(Inc VAT)', placeholder: '100.00', required: true, size: 12 %>
    <%= checkbox form: form, attribute: :vat_exempt, label: 'VAT Exempt?', required: true, size: 6 %>
    <%= checkbox form: form, attribute: :reclaim_tax, label: 'Reclaim tax?', required: true, size: 6 %>
  </div>

  <%= form.hidden_field :month_id, value: params[:month_id] %>
  <hr>

  <%= form.submit 'Update', class: 'btn form-submit', type: 'submit' %>
<% end %>

