<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Features', icon: 'settings' %>

    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h4 class='card-title'>Features</h4>
        </div>

        <%= render 'components/molecules/features/list_all', features: @features %>
      </div>
    </div>
  </div>
</div>