<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'>New Feature</h4>
          <p class='card-subtitle'>Add the name of the feature with the code identifier.</p>
        </div>

        <div class='card-body'>
          <%= form_with(model: @feature, local: true) do |form| %>
            <div class='row'>
              <%= textfield form: form, attribute: :feature, label: 'Feature', placeholder: 'i.e. PAYE Income', required: true, size: 6 %>
              <%= textfield form: form, attribute: :code_id, label: 'Code Identfier', placeholder: 'paye_income', required: true, size: 6 %>
            </div>

            <hr>

            <%= form.submit 'Submit', class: 'btn form-submit', type: 'submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>