<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card quay-card'>
        <div class='card-header quay-card-header'>
          <h4 class='card-title'><%= @feature.feature %> - <%= @feature.code_id %></h4>
          <p class='card-subtitle'>Features can be enabled and disabled through the account settings.</p>
        </div>

        <div class='card-body table-card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead class=' text-primary'>
                <th>Name</th>
                <th>Feature</th>
                <th colspan=2></th>
              </thead>

              <tbody>
                <% @accounts.each do |account| %>
                  <tr>
                    <td><%= account.name %></td>
                    <td><%= feature_status_for(account, @feature)%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>