.alert {
  border: 0;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px;
  line-height: 20px;
  margin-bottom: 0;
  margin-left: 30px;
}

.alert-success {
  background-color: #55b559;
  color: #ffffff;
  box-shadow:
    0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.alert-danger {
  color: #ffffff;
  background-color: #f55145;
  box-shadow:
    0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
}