@import 'variables';

.quay-card {
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.quay-card-header {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  border-radius: 3px !important;
  margin: -30px 15px;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px $primary-color-shaddow;
}

.bug-header {
  background: linear-gradient(60deg, #b24592, #f15f79);
}

.feature-header {
  background: linear-gradient(60deg, #11998e, #38ef7d);
  box-shadow: 0 4px 20px 0 rgba(24, 104, 0, 0.637),
    0 7px 10px -5px rgba(50, 212, 0, 0.637);
}

.card-title {
  font-size: 1.125rem;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  font-size: 0.875rem;
  font-weight: 300;
}

.card-profile-picture {
  border-radius: 50%;
  max-width: 130px;
  max-height: 130px;
  min-width: 130px;
  min-height: 130px;
  margin: -65px 15px;
}

.user-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.subtitle-grey {
  color: #999999;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.title-grey {
  color: #999999;
  font-size: 0.96rem;
  text-transform: uppercase;
  text-align: center;
}

.card-icon-header {
  color: white;
  width: 4rem;
  margin: -20px 15px;
  margin-bottom: 0;
}

.dashboard-header {
  width: 20rem;
}

.current-selected-card {
  background-color: #eeeeee;
}
