@import 'variables';

.quay-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: no-repeat bottom, 50% calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
}

.form-check-input {
  margin-top: 3px;
}

.quay-input:focus {
  background-image: linear-gradient(0deg, #9c27b0 1px, rgba(156, 39, 176, 0) 0);
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  color: #495057;
  background-color: transparent;
  border-color: #d176e1;
  outline: 0;
}

.quay-input:disabled {
  background-color: inherit;
  color: #ced4da;
}

.select-input {
  margin-top: 3px;
}

.form-label {
  color: #999999;
  font-size: 14px;
}

.form-submit {
  font-size: 12px;
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4;
}

.form-submit:hover {
  color: white;
}

textarea {
  resize: none;
}

.profile-link {
  color: #9c27b0;
}

.profile-link:hover {
  font-weight: bold;
  color: #9c27b0;
}

.profile-options {
  text-align: center;
}
