@import "variables";

.table-card {
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.table-card-header {
  background: $primary-color;
  border-radius: 3px !important;
  margin: -30px 15px;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px $primary-color-shaddow;
}

.table-search-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: no-repeat bottom, 50% calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
}

.table-search-input:focus {
  background-image: linear-gradient(0deg, #9c27b0 1px, rgba(156, 39, 176, 0) 0);
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  color: #495057;
  background-color: transparent;
  border-color: #d176e1;
  outline: 0;
}

thead {
  border-top: 0;
}

.table td,
.table th {
  padding: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.table th {
  border: 0;
}

table tbody td a {
  color: #9c27b0;
}

table tbody td a:hover {
  color: #9c27b0;
  font-weight: 900;
}

.pagination-container {
  margin-top: 10px;
}

.pagination .active:hover {
  background-color: transparent;
}

.link-danger {
  color: rgb(187, 11, 11);
}

.link-info {
  color: rgb(0, 137, 161);
}

.link-danger:hover {
  color: rgb(228, 0, 0);
  font-weight: bold;
}

.link-info:hover {
  color: rgb(0, 211, 248);
  font-weight: bold;
}

.positive-balance {
  color: green;
}

.negative-balance {
  color: red;
}

.unread-notification {
  background-color: rgba(157, 241, 148, 0.2);
}
