/*
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'variables';

// Import Page Assets
@import 'side_navigation';
@import 'toolbar';
@import 'session';

// Import Components
@import 'components/forms';
@import 'components/cards';
@import 'components/table';
@import 'components/button';
@import 'components/alerts';

body {
  background-color: #eee;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #3c4858;
}

a:hover {
  text-decoration: none;
  color: black;
}

.standard-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: inline-block;
  font-size: 18px;
  color: #3c4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.title-font {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.page-row {
  margin-left: 15px;
  margin-right: 15px;
}

.page-heading {
  font-size: 2rem;
  padding-top: 5rem;
  display: inline-block;
}

.page-title-text {
  margin-left: 25px;
  display: none;
}

.page-content {
  margin-left: $sidebar-width;
  margin-bottom: 50px;
}

.page-signed-out {
  margin-left: 0 !important;
}

.large {
  font-size: 5rem;
}

.text-primary {
  color: #9c27b0 !important;
}

.page-title {
  display: none;
}

.page-heading {
  color: $hard-grey;
}

.display {
  display: block;
}

.badge {
  font-size: 100%;
}

.holding {
  padding: 200px;
  text-align: center;
  margin: auto;
}

.white-link {
  color: white;
}

.white-link:hover {
  color: white;
  font-weight: bold;
}

.row {
  width: 100%;
}

.page-link {
  color: $solid-purple;
}

.page-link:hover {
  color: $solid-purple;
}

.page-item.active .page-link {
  background-color: $solid-purple;
  border-color: $solid-purple;
}

@media only screen and (max-width: 1400px) {
  .page-title {
    display: block;
  }

  .page-icon {
    display: none;
  }

  .page-content {
    margin-left: $sidebar-width-mobile;
  }

  .page-title-text {
    display: block;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .page-title {
    display: block;
  }

  .page-icon {
    display: none;
  }
}