@import 'variables';

.login-page {
  height: 100vh;
  width: 100%;
  background-image: image-url(background);
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.login-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.login-card-header {
  margin-bottom: 25px !important;
  border-bottom: none;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  border-radius: 3px;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, .14),
    0 7px 10px -5px rgba(233, 30, 99, .4);

  margin: -30px 15px;
  padding: 20px;
  position: relative;
}

.login-card-body {
  margin-bottom: -30px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.login-form-row {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
}

.login-card-footer {
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  display: block;
  text-align: center;
}

.btn-rose {
  margin-bottom: 10px;
  background-color: transparent;
  color: #e91e63;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
}

.btn:hover {
  text-decoration: none;
  color: #e91e63;
}
