@import "variables";

.sidebar {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56);
  background-color: #f6f6f6;
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 10;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
}

.sidebar-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsla(0, 0%, 71%, 0.3);
}

.profile-dropdown {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.profile img {
  width: 34px;
  height: 34px;
  overflow: hidden;
  float: left;
  z-index: 5;
  border-radius: 50%;
  margin-left: 5px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.link-item:hover {
  background-color: #e8e8e8;
}

.link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
}

.link-item:hover {
  background-color: $hover-color;
}

.active {
  background-color: $solid-purple;
  color: white !important;
}

.active:hover {
  background-color: $solid-purple;
}

.dropped-nav {
  font-size: 12px;
}

.profile-dropdown,
.notification-dropdown {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .desktop-nav {
    display: none;
  }

  .sidebar {
    width: $sidebar-width-mobile;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .desktop-nav {
    display: none;
  }

  .sidebar {
    width: $sidebar-width-mobile;
  }
}