@import 'variables';

.toolbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  text-align: right;
}

.toolbar-item {
  margin-top: 13px;
  margin: 10px;
  border-radius: 3px;
  font-size: 24px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  line-height: 41px;
  border: none;
  outline: inherit;
  cursor: pointer;
  background-color: transparent;
}

.toolbar-item:hover {
  background-color: $hover-color;
}

.toolbar-item:focus {
  outline: none;
}

.minimize-sidebar {
  margin-right: 1.5rem;
  margin-left: 0;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 14px 26px -12px hsla(0, 0%, 60%, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px hsla(0, 0%, 60%, 0.2);
}

.minimize-sidebar:hover {
  background-color: white;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-right {
  right: 25px;
  position: absolute;
  float: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  top: 100%;
  z-index: 1000;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border-radius: 0.25rem;
}

.dropdown-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  color: #333;
  font-weight: 400;
  font-size: 0.8125rem;
  border-radius: 0.125rem;
  margin: 5px;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  line-height: 1.428571;
  text-overflow: ellipsis;
  text-align: inherit;
  white-space: nowrap;
  width: 94%;
}

.notification-dropdown {
  right: 90px;
}

.notification {
  min-width: 14rem;
}

.dropdown-item:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px $primary-color-shaddow;
  background-color: $solid-purple;
  color: #fff;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

#session-dropdown {
  display: none;
}

.page-title {
  margin-bottom: 10px;
  font-size: 22px;
}
