@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$hover-color: #e8e8e8;
$hard-grey: #555555;

$solid-purple: #ab47bc;
$primary-color: linear-gradient(60deg, #ab47bc, #8e24aa);
$primary-color-shaddow: rgba(156, 39, 176, 0.42),
0 4px 23px 0 rgba(0, 0, 0, 0.12),
0 8px 10px -5px rgba(156, 39, 176, 0.2);

$sidebar-width: 300px;
$sidebar-width-mobile: 74px;