<div class='container-fluid'>
  <div class='row page-row'>
    <%= column_title heading: 'Books', icon: 'table' %>

    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h5 class='card-title'>Bookkeeping</h5>
        </div>

        <div class='card-body'>
          <%= modal_link_to 'ADD TAX YEAR', new_year_path %>

          <div class='row'>
            <%= render 'components/molecules/bookkeeping/years' %>
          </div>

          <hr>
          <h6 class='subtitle-grey'>You currently have no YTD graph data.</h6>
        </div>
      </div>
    </div>
  </div>
</div>
