<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col-lg-3 col-sm-12'>
      <%= render 'components/molecules/bookkeeping/monthly_statistics', month: @month %>
    </div>

    <div class='col-lg-9 col-sm-12'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h5 class='card-title'>Tax Report for <%= @month.month %></h5>
        </div>

        <div class='card-body'>
          <% if @records.empty?%>
            <h6 class='subtitle-grey'>There is currently no data for <%= @month.month %>. You can add income and expendeture using the buttons on the left.</h6>
          <% else %>
            <%= render 'components/molecules/bookkeeping/records', records: @records %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
