<div class='container-fluid'>
  <div class='row page-row'>
    <div class='col'>
      <div class='card table-card'>
        <div class='card-header table-card-header'>
          <h5 class='card-title'>Tax Reports for <%= @year.year %></h5>
        </div>

        <div class='card-body'>
          <div class='row'>
            <% @year.months.each do |month| %>
              <div class='col-lg-3 col-sm-6'>
                <div class='card quay-card'>
                  <div class='card-body'><h5><%= month.month %></h5></div>
                  <%= link_to '', show_month_path(month), class: 'stretched-link'%>
                </div>
              </div>
            <% end %>
          </div>

          <%= render 'components/atoms/bookkeeping/yearly_chart', year: @year %>
          <%= render 'components/atoms/bookkeeping/tax_helper', year: @year %>
        </div>
      </div>
    </div>
  </div>
</div>
