<%= form_with(model: @income, local: true, url: update_income_path) do |form| %>
  <div class='row'>
    <%= datepicker form: form, attribute: :date_of, label: 'Date', value: @income.date_of, required: true, size: 12 %>
  </div>

  <div class='row'>
    <%= textfield form: form, attribute: :summary, label: 'Summary', placeholder: 'i.e. 44 Tree Lane House', required: true, size: 6 %>
    <%= textfield form: form, attribute: :category, label: 'Category', placeholder: 'i.e. Building', required: true, size: 6 %>
    <%= textfield form: form, attribute: :balance,  label: 'Balance(Inc VAT)', placeholder: '100.00', required: true, size: 12 %>
    <%= form.hidden_field :month_id, value: params[:month_id] %>
  </div>

  <hr>

  <%= form.submit 'Update', class: 'btn form-submit', type: 'submit' %>
<% end %>
