<div class='col-lg-12'>
  <div class='card quay-card dashboard-card'>
    <div class='card-header quay-card-header card-icon-header dashboard-header'>
      <i class='material-icons card-icon'>inbox</i>
      <p>Quick Invoice</p>
    </div>

    <div class='card-body'>
      <% if dashboard_invoices.empty? %>
        <h6 class='subtitle-grey'>There are currently no invoices that require your attention.</h6>
      <% else %>
        <table class='table'>
          <thead class=' text-primary'>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Customer Contact</th>
            <th>Iss. Date</th>
            <th>Due Date</th>
            <th>Total Cost</th>
            <th>VAT</th>
            <th>Status</th>
            <th></th>
          </thead>

          <tbody>
            <% dashboard_invoices.each do |invoice| %>
              <tr>
                <td><%= invoice.id %></td>
                <td><%= invoice.customer_name %></td>
                <td><%= invoice.customer_contact_number %></td>
                <td><%= invoice.issued_on.strftime('%d/%m/%Y') %></td>
                <td><%= invoice_due_date(invoice) %></td>
                <td>£<%= invoice.balance %></td>
                <td>£<%= invoice.vat %></td>
                <td><%= invoice_status(invoice) %></td>
                <td><%= link_to 'View', show_invoice_path(invoice) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>