<div class='col-lg-6'>
  <div class='card quay-card dashboard-card'>
    <div class='card-header quay-card-header card-icon-header dashboard-header'>
      <i class='material-icons card-icon'>info</i>
      <p>Tax Helper</p>
    </div>

    <div class='card-body'>
      <h3>YTD Income: £<%= income_for(year) %></h3><hr>
      <h3>Recommend Tax Set Aside: £<%= tax_for(year) %></h3><hr>
      <h3>Reclaimable Tax: £<%= reclaimable_tax_for(year) %></h3><hr>
      <h3>Tax already paid: £<%= tax_paid_for(year) %></h3><hr>
      <h3>So far you will need to pay an additonal £<%= payable_tax_for(year) %> tax for the year.</h3>
    </div>
  </div>
</div>