<div class='col-lg-6'>
  <div class='card quay-card dashboard-card'>
    <div class='card-header quay-card-header card-icon-header dashboard-header'>
      <i class='material-icons card-icon'>timeline</i>
      <p>Current YTD Finances</p>
    </div>

    <div class='card-body'>
      <%= line_chart financial_ytd(year), xtitle: 'Months', ytitle: 'Balance', prefix: '£' %>
    </div>
  </div>
</div>