<div class='charts'>
  <% unless income.empty? %>
    <p>Income Chart</p>
    <%= bar_chart income.group(:category).sum(:balance) %>
  <% end %>

  <% unless expense.empty? %>
    <p>Expense Chart</p>
    <%= bar_chart expense.group(:category).sum(:balance) %>
  <% end %>
</div>