<%= form_with(model: support, local: true) do |form| %>
  <div class='row'>
    <%= selectfield form: form, attribute: :label, label: 'Request Type', options: support_options, required: true, size: 2 %>
    <%= textfield form: form, attribute: :title, label: 'Title (Short & Sweet)', placeholder: 'i.e. Cannot access previous invoices', required: true, size: 10 %>
  </div>

  <div class='row'>
    <%= textarea form: form, attribute: :description, label: 'Description', placeholder: 'i.e. Details & Steps to reproduce the issue', required: true, size: 12, rows: 5 %>
  </div>

  <%= form.submit 'Request', class: 'btn form-submit', type: 'submit' %>
<% end %>