    <div class="col-lg-<%= size %> checkbox-radios">
      <div class="form-check">
        <label class="form-check-label">
          <%= form.check_box attribute, class: 'form-check-input' %>
          <%= label %>
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div>
    </div>