<div class="col-lg-<%= size %>">
  <div class="form-group">
    <label class="form-label"><%= label %>:</label>
    <%= form.text_field attribute, type: 'date', class: 'form-control datepicker quay-input', value: value, required: required, autofocus: true  %>
  </div>
</div>