<div class="col-lg-<%= size %>">
  <div class="form-group">
    <label class="form-label"><%= label %>:</label>
    <%= form.select attribute, options, {}, class: 'form-control quay-input' %>
  </div>
</div>