<div class="col-lg-<%= size %>">
  <div class="form-group">
    <label class="form-label"><%= label %>:</label>
    <div class="form-group">
      <%= form.text_area attribute, class: 'form-control quay-input', placeholder: placeholder, rows: rows, autofocus: true %>
    </div>
  </div>
</div>