<div class="col-lg-<%= size %>">
  <div class="form-group">
    <label class='form-label'><%= label %>:</label>
    <%= form.text_field attribute, type: field, placeholder: placeholder, class: 'form-control quay-input', required: required, disabled: disabled, autofocus: true %>
  </div>
</div>