<html>
  <head>
    <title>QuayBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="maximum-scale=1.0,user-scalable=0" />
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class='container-fluid page-container'>
        <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
          </div>
        </div>

        <div class='row'>
          <%= render 'components/organisms/side_navigation' %>

          <div class='col page-content'>
            <%= render 'components/organisms/toolbar' %>
            <div class='row'>
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
  </body>
</html>

 <script>
   $(document).ready(function() {
     // Dropdown for session and notifications
     $('#drop-session').click(function() {
       $("#session-dropdown").toggle('fast');
       $("#notification-dropdown").hide('fast');
     });

     $('#drop-notifications').click(function() {
       $("#notification-dropdown").toggle('fast');
       $("#session-dropdown").hide('fast');
     });

     $('#drop-profile').click(function() {
       $("#profile-dropdown").toggle('fast');
     });

     // Stop the collapse when clicking inside these options
     $(document).click(function() {
       $("#session-dropdown").hide('fast');
     });
     $(document).click(function() {
       $("#notification-dropdown").hide('fast');
     });

     $("#session-dropdown").click(function(e) {
       e.stopPropagation();
     });
     $("#drop-session").click(function(e) {
       e.stopPropagation();
     });

     $("#notification-dropdown").click(function(e) {
       e.stopPropagation();
     });
     $("#drop-notifications").click(function(e) {
       e.stopPropagation();
     });
   });
 </script>